:root {
    --background: white;
    --board-outline-color: #f0b488;
    --board-color: #264b39;
    --player-turn-background: #B6EADA;
    --text-color: black;
    --board-border-radius: 30px
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #03001C;
        --board-outline-color: #5B8FB9;
        --board-color: #301E67;
        --player-turn-background: #B6EADA;
        --text-color: white;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html,
body {
    width: 100vw;
    overflow: hidden;
    color: var(--text-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
